/*css rese*/

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --navbar-height:59px;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
}


#logo{
    margin: 10px 35px;
    cursor: pointer;
}

#logo img {
    height: 60px;
    margin: 4px 7px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content:"";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    font-size: 1.3rem;
    list-style: none;
}

#navbar ul li a {
    color: black;
    display: block;
    padding: 3px 20px;
    border-radius: 22px;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: black;
    color: white;
    transition: 1200ms;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 2px 200px;
    height: 560px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url(bg.jpg.jpg)no-repeat center center/cover;
    height: 642px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home #h-primery {
    color: black;
    font-size: 3.8rem;
    text-align: center;
    padding: 10px;
    margin: 60px 0px 0px 0px;

}

#home p {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.btn {
    padding: 6px 15px ;
    font-size: 1.3rem;
    margin: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 11px;
    cursor: pointer;
}

.btn.btn:hover{
    opacity: 0.80;
    transition: 600ms;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 1px solid #90e5ffca;
    border-radius: 26px;
    padding: 29px;
    margin: 25px 8px;
    background-color: rgb(234, 245, 241);
    cursor: pointer;
}

#services .box:hover {
    background-color: #90e5ff80;
    transition: 200ms;
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h-primery {
    font-size: 3.8rem;
}

.h-secondery {
    font-size: 2.8rem;
}

.center {
    text-align: center;
}

#client-section {
height: 344px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(bg1.jpg.jpg)no-repeat center center/cover;
    height: 344px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-item {
    padding: 24px;
    margin: 5px 25px;
    cursor: pointer;
}

#clients .clients-item img {
    height: 125px;
}

#contacts {
    position: relative;
}

#contacts::before {
    content: "";
    position: absolute;
    background: url(bg2.jpg.jpg)no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

#contact-box form {
    width: 50%;
}

#contact-box label {
    font-size: 1.3rem;
}

footer {
    background-color: black;
    color: white;
    padding: 9px;
}